{{!-- Modal login --}}

<form name="login" method="POST" action="/" id="loginForm">
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          <i class="fas fa-user-times" data-dismiss="modal" aria-label="Close"></i>
        </div>
        {{!-- login body --}}
        <div class="modal-body text-dark">
          <div class="collapse multi-collapse show" id="modal-body-login">
            <div class="mb-3">
              <label for="email" class="col-form-label">Email:</label>
              <input name="email" autocomplete="none" type="email"
                class="form-control shadow p-4 mb-1 bg-white border-dark rounded" {{#if post}}
                value="{{#if (notFound allGames)}}{{#getFormData allGames "email"}}{{this}}{{/getFormData}}{{/if }}"
                {{/if}} id="email" required>
            </div>
            <div class="mb-3">
              <label for="inputLoginPassword" class="form-label">Password:</label>
              <input name="password" autocomplete="none" type="password" {{#if post}}
                value="{{#if (notFound allGames)}}{{#getFormData allGames "password"}}{{this}}{{/getFormData}}{{/if }}"
                {{/if}} id="inputLoginPassword" class="form-control shadow p-4 mb-1 bg-white border-dark rounded"
                required>
            </div>
          </div>

          {{!-- create account body --}}
          <div class="collapse multi-collapse" id="modal-body-cAccount">
            <div class="mb-3">
              <label for="username" class="col-form-label">Name:</label>
              <input autocomplete="none" type="text" class="form-control shadow p-4 mb-1 bg-white border-dark rounded"
                value="{{#if (userValidation allGames)}}{{#getFormData allGames "username"}}{{this}}{{/getFormData}}{{/if }}" id="username" name="username" required disabled>
            </div>
            <div class="mb-3">
              <label for="lastname" class="col-form-label">LastName:</label>
              <input autocomplete="none" type="text" class="form-control shadow p-4 mb-1 bg-white border-dark rounded"
                value="{{#if (userValidation allGames)}}{{#getFormData allGames "lastname"}}{{this}}{{/getFormData}}{{/if }}" id="lastname" name="lastname" required disabled>
            </div>
            <div class="mb-3">
              <label for="newEmail" class="col-form-label">Email:</label>
              <input autocomplete="none" type="email" class="form-control shadow p-4 mb-1 bg-white border-dark rounded"
                value="{{#if (userValidation allGames)}}{{#getFormData allGames "newEmail"}}{{this}}{{/getFormData}}{{/if }}" id="newEmail" name="newEmail" required disabled>
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Password:</label>
              <div class="input-group">
                <input autocomplete="none" type="password" id="inputPassword" name="inputPassword"
                  value="{{#if (userValidation allGames)}}{{#getFormData allGames "inputPassword"}}{{this}}{{/getFormData}}{{/if }}"
                  class="form-control shadow p-4 mb-1 bg-white border-dark rounded" aria-describedby="passwordHelpBlock"
                  required disabled>
                <div class="input-group-append ml-1">
                  <span class="input-group-text mb-1 rounded">
                    <button type="button" class="btn btn-link" data-show="password" data-target="inputPassword">
                      <i class="fas fa-eye"></i>
                    </button>
                  </span>
                </div>
                <small id="passwordHelpBlock" class="form-text text-danger">
                  Your password must be 8-20 characters long, contain
                  upper case and lower case letters, numbers and special characters,
                  and must not contain spaces, or emoji.
                </small>
              </div>
            </div>
            <div class="mb-3">
              <label for="inputPassword2" class="form-label">Password (repeat to verify):</label>
              <div class="input-group">
                <input autocomplete="none" type="password" id="inputPassword2" name="inputPassword2"
                  value="{{#if (userValidation allGames)}}{{#getFormData allGames "inputPassword2"}}{{this}}{{/getFormData}}{{/if }}"
                  class="form-control shadow p-4 mb-1 bg-white border-dark rounded"
                  aria-describedby="passwordHelpBlock2" required disabled>
                <div class="input-group-append ml-1">
                  <span class="input-group-text mb-1 rounded">
                    <button type="button" class="btn btn-link" data-show="password" data-target="inputPassword2">
                      <i class="fas fa-eye"></i>
                    </button>
                  </span>
                </div>
              </div>
              <small id="passwordHelpBlock2" class="form-text text-danger d-none">
                Passwords do not match
              </small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <button autocomplete="none" type="button" class="btn btn-outline-primary" data-toggle="collapse"
                  data-target=".multi-collapse" aria-expanded="true"
                  aria-controls="modal-body-login modal-body-cAccount" id="toggleLogin">Create
                  Account</button>
              </div>
              <div class="col text-right">
                <button autocomplete="none" type="button" class="btn btn-outline-secondary"
                  data-dismiss="modal">Close</button>
                <button autocomplete="none" type="submit" class="btn btn-primary" id="goLogin">Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>