{{> login-header}}
{{> modal-login}}

{{!-- {{#if errorUser}}
{{userError}}
{{/if}} --}}
<div class="pricing-header px-3 py-3 pt-md-5 mt-md-5 pb-md-4 mx-auto text-center">
  {{!-- <h1 class="display-4">Drag&Drop</h1>
  <p class="lead">You can add your products to the cart easily, drag the image,<br>
    and it will be added to your purchase.</p> --}}
  {{!-- Alert data do not match --}}
  {{#if (notFound allGames)}}
  <div class="alert alert-danger alert-dismissible fade show mt-md-5" role="alert">
    <strong>Email address or password not match.</strong> Give it another try.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if }}
  {{!-- Alert email already exists in the database --}}
  {{#if (userValidation allGames)}}
  <div class="alert alert-danger alert-dismissible fade show mt-md-5" role="alert">
    <strong>Doh!</strong> Email has already been taken.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if }}
</div>
<!-- Products content -->
<div class="container">
  <div class="card-deck mb-3 text-center" id="products-list">
    {{!-- Product Card --}}
    {{#each allGames}}
    {{#if (checkObjectProperty this "_doc")}}
    <div class="card mb-4 h-100 shadow-sm" draggable="false" product-id="{{this._doc._id}}">
      <img src="/img/{{this._doc.img.localImg}}" class="card-img-top" alt="{{this._doc.title}}" draggable="false">
      <div class="card-footer text-white">
        <h4 class="my-0 font-weight-normal">{{this._doc.title}}</h4>
      </div>
    </div>
    {{/if }}
    {{/each}}
  </div>
</div>

{{> footer}}