{{> logout-header}}
{{> modal-logout}}
<div class="container pt-5">
    <div class="row justify-content-lg-center pt-5">
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card rounded border border-info mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="/img/vr-profile.png" alt="User image">
                <div class="card-header bg-info text-white">
                    <h5 class="card-title text-center pt-3">
                        <strong>
                            {{data.userData.[0].name}} {{data.userData.[0].lastname}}
                        </strong>
                    </h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Role:</strong>
                            {{#switch data.userData.[0].role}}
                            {{#case 0}} Admin {{/case}}
                            {{#case 1}} Vendor {{/case}}
                            {{#default "User"}} {{/default}}
                            {{/switch}}
                        </li>
                        <li class="list-group-item"><strong>Member from:</strong> {{data.userData.[0].createdAt}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-8 px-3">
            <div class="container bg-info border border-info rounded mb-5 p-3">
                <h2 class="display-4 text-center">
                    <i class="fas fa-gamepad text-white mr-3"></i> Welcome, <strong
                        class="text-white">{{data.userData.[0].name}}</strong>
                </h2>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active border-info border-bottom-0" id="home-tab" data-toggle="tab" href="#home"
                        role="tab" aria-controls="home" aria-selected="true">User Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-info border-bottom-0" id="profile-tab" data-toggle="tab" href="#profile"
                        role="tab" aria-controls="profile" aria-selected="false">Password</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {{!-- User data --}}
                    <div class="container-fluid bg-white p-5 rounded-bottom border border-info">
                        <form action="/user/{{data.userData.[0]._id}}" method="POST" id="userData">
                            <input type="hidden" name="updateUserData" value="true">
                            <div class="form-group">
                                <label for="newName">Name</label>
                                <input type="text" class="form-control bg-light border-dark" id="newName"
                                    aria-describedby="nameHelp" value="{{data.userData.[0].name}}" name="userName" required>
                                <small id="nameHelp" class="form-text text-muted">To <strong>change your name</strong>,
                                    write the new
                                    here and press submit</small>
                            </div>
                            <div class="form-group">
                                <label for="newLastname">Lastname</label>
                                <input type="text" class="form-control bg-light border-dark" id="newLastname"
                                    aria-describedby="lastNameHelp" value="{{data.userData.[0].lastname}}" name="userLastName"
                                    required>
                                <small id="lastNameHelp" class="form-text text-muted">To <strong>change your
                                        lastname</strong>, write the
                                    new here and press submit</small>
                            </div>
                            <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    {{!-- User password --}}
                    <div class="container-fluid bg-white p-5 rounded-bottom border border-info">
                        <div class="form-group">
                            <label for="newPassword">Password</label>
                            <input name="newPassword" type="text" class="form-control bg-light border-dark"
                                id="newPassword" aria-describedby="lastNameHelp" placeholder="Enter your new password"
                                disabled required>
                            <small id="lastNameHelp" class="form-text text-muted">To <strong>change your
                                    password</strong>, write the
                                new here and press submit</small>
                        </div>
                        <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container bg-info border border-info rounded mt-4 p-3 text-center">
                <a class="btn btn-link shopping" href="/store/{{data.userData.[0]._id}}" role="button">
                    Go Shopping!
                </a>
            </div>
        </div>
    </div>
    {{!-- {{/each}} --}}
    <div class="row justify-content-md-center pt-5">
        {{#if (checkPostUpdated data) }}
        {{#if (checkUpdated data) }}
        {{#if (checkUpdatedPassword data)}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Great!</strong> Your password has been updated.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{else}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Great!</strong> Your details have been updated.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
        {{else}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>There was an error with the update.</strong> Please try again or contact the administrator.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
        {{/if}}
    </div>
</div>
{{> footer}}